.ht-contact-link {
	transition: all 0.2s;
	cursor: pointer;
	&:hover {
		color: #172b4d;
		color: #172b4d;
		&.icon-leet-code {
			filter: invert(10%) sepia(87%) saturate(918%) hue-rotate(191deg)
				brightness(101%) contrast(92%);
		}
	}
}
