@font-face {
	font-family: 'FormaDJRDisplay';
	font-weight: 300;
	src: url('~/assets/fonts/FormaDJRDisplay-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'FormaDJRDisplay';
	font-weight: 500;
	src: url('~/assets/fonts/FormaDJRDisplay-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'FormaDJRDisplay';
	font-weight: 700;
	src: url('~/assets/fonts/FormaDJRDisplay-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'SuisseIntl';
	font-weight: 300;
	src: url('~/assets/fonts/SuisseIntl-Light.otf') format('opentype');
}
@font-face {
	font-family: 'SuisseIntl';
	font-weight: 500;
	src: url('~/assets/fonts/SuisseIntl-Regular.otf') format('opentype');
}
@font-face {
	font-family: 'SuisseIntl';
	font-weight: 700;
	src: url('~/assets/fonts/SuisseIntl-SemiBold.otf') format('opentype');
}
